#footer-contact-info {
	text-align: center;
	font-size:15px;
}

#footer-contact-info > div.block {
	display: inline-block;
	margin: 6px 10px 6px 10px;
}

#footer-contact-info > div.block.title {
	font-size:17px;
	font-weight:bold;
}

#footer-contact-info a {
	text-decoration: none;
	color: inherit;
}

#footer-contact-info a:hover {
	text-decoration: underline;
}